@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.dark-grey{
    background-color: #1B1B1B !important;
}

.yellow{
    background-color: #FFB90B !important;
}

.roboto{
    font-family: 'Roboto', sans-serif !important;
}

.bold{
    font-weight: 700 !important;
}

.light{
    font-weight: 300 !important;
}
.regular{
    font-weight: 400 ;
}

.mt-10{
    margin-top: 5rem !important;
}

.mt-accueil{
    padding-top: 3rem;
}
.mt-neg{
    margin-top: -0.5rem  !important;
}

.zac{
    width: 70% !important;
}

.logo{
    max-width: 20% !important;
    padding-top: 2rem !important;
    padding-bottom: 100% !important;
    padding-left: 4%;
   
}

.main-menu{
    min-height: 100% !important;
}

.padding-top{
    padding-top: 15rem;
}

a{
    text-decoration: none !important;
  
}

a:hover{
    color: #198754 !important;
   
}

a:link, :visited{
    color: white !important; 
}

